<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="ServiceExtensions" type="CloudSmith.Dynamics365.CrmSvcUtil.Configuration.ServiceExtensionsConfigurationSection, CloudSmith.Dynamics365.CrmSvcUtil" />
  </configSections>
  <appSettings>
    <add key="url" value="http://win-oi4mlu9323r/test/XRMServices/2011/Organization.svc"/>
    <add key="out" value="DynamicsXrm.cs"/>
    <add key="namespace" value="CloudSmith.Dynamics365.Samples"/>
    <add key="domain" value="CONTOSO"/>
    <add key="username" value="Administrator"/>
    <add key="password" value="p@ssw0rd"/>
    <add key="serviceContextName" value="XrmContext"/>
    <add key="generateActions" value="true"/>
    <add key="codewriterfilter" value="CloudSmith.Dynamics365.CrmSvcUtil.CompositeFilterService, CloudSmith.Dynamics365.CrmSvcUtil" />
    <add key="codewritermessagefilter" value="CloudSmith.Dynamics365.CrmSvcUtil.CompositeFilterService, CloudSmith.Dynamics365.CrmSvcUtil" />
    <add key="codecustomization" value="CloudSmith.Dynamics365.CrmSvcUtil.CompositeCustomizationService, CloudSmith.Dynamics365.CrmSvcUtil" />
    <add key="namingservice" value="CloudSmith.Dynamics365.CrmSvcUtil.CompositeNamingService, CloudSmith.Dynamics365.CrmSvcUtil" />
  </appSettings>
  <ServiceExtensions>
    <Filtering>
      <Whitelist filter="Exclusive">
        <Entities>
          <add entity="account" />
          <add entity="contact" />
        </Entities>
        <!-- 
        <Attributes>
          <add entity="*" attribute="name" />
        </Attributes>
        <OptionSets>
          <add entity="*" optionSet="addresstype" />
        </OptionSets>
        <Filters>
          <entity expression=".*" ignoreCase="true" />
          <attribute entity="*" expression=".*" ignoreCase="true" />
        </Filters>        
        -->
        <Solutions>
          <add solution="TestSolution" />
        </Solutions>
        <!-- Valid values are Default, CustomOnly, and UncustomizedOnly -->
        <Customizations strategy="Default" />
      </Whitelist>
      <Blacklist>
        <Entities>
          <!-- wont be blacklisted as it's on the whitelist -->
          <add entity="contact" />
        </Entities>
        <Attributes>
          <add entity="*" attribute="description" />
        </Attributes>
      </Blacklist>
    </Filtering>
    <Naming>
      <!-- configuration that goes here only applies for the NamingService -->
      <PublisherRules>
        <add name="cs_" action="remove" />
      </PublisherRules>
      <MappingRules>
        <add from="sample_entity" to="MyEntity" type="entity"/>
        <add from="sample_entity.foo" to="Bar" type="attribute"/>
      </MappingRules>
    </Naming>
    <CodeGeneration path=".\Output" language="CSharp">
      <!--
      <Annotations>
        <add attribute="DataContract" to="Entities" />
        <add attribute="DebuggerNonUserCode" to="Attributes" />
      </Annotations>
      -->
      <Behaviors>
        <add name="TranslateOptionSetsAsEnums" />
        <add name="ImportNamespaces" arguments="System,System.ComponentModel,System.Runtime.Serialization,System.CodeDom.Compiler,Microsoft.Xrm.Sdk" />
      </Behaviors>
      <Files>
        <!-- options for type include: Entities, AttributeConstants, OptionSets, Requests, Responses, ServiceContext -->
        <!-- options for generate include: OneFilePerItem, OneFilePerType, SingleFile -->
        <!-- format string is up to 3 parameters: (root filename (no suffix); type; name; formatted as filename safe) -->
        <!-- paths are relative to the code generation path above, or output switch, or current folder -->
        <add filename="{0}.{1}.{2}.cs" type="Entities" generate="OneFilePerItem" />
        <add filename="{0}.{1}.cs" type="AttributeConstants" generate="OneFilePerType" />
        <add filename="{0}.{1}.cs" type="OptionSets" generate="OneFilePerType" />
        <add filename="{0}.{1}.cs" type="Requests" generate="OneFilePerType" />
      </Files>
    </CodeGeneration>
  </ServiceExtensions>
  <system.diagnostics>
    <trace autoflush="true"/>
    <sources>
      <source name="Microsoft.Xrm.Tooling.Connector.CrmServiceClient" switchName="Microsoft.Xrm.Tooling.Connector.CrmServiceClient" switchType="System.Diagnostics.SourceSwitch">
        <listeners>
          <add name="console" type="System.Diagnostics.ConsoleTraceListener"/>
          <add name="fileListener"/>
        </listeners>
      </source>
      <source name="Microsoft.Xrm.Tooling.CrmConnectControl" switchName="Microsoft.Xrm.Tooling.CrmConnectControl" switchType="System.Diagnostics.SourceSwitch">
        <listeners>
          <add name="console" type="System.Diagnostics.ConsoleTraceListener"/>
          <add name="fileListener"/>
        </listeners>
      </source>
      <source name="CloudSmith.Dynamics365.CrmSvcUtil" switchName="CloudSmith.Dynamics365.CrmSvcUtil" switchType="System.Diagnostics.SourceSwitch">
        <listeners>
          <add name="console" type="System.Diagnostics.ConsoleTraceListener"/>
          <add name="fileListener"/>
        </listeners>
      </source>
      <source name="CrmSvcUtil" switchName="CrmSvcUtil" switchType="System.Diagnostics.SourceSwitch">
        <listeners>
          <add name="console" type="System.Diagnostics.ConsoleTraceListener"/>
          <add name="fileListener"/>
        </listeners>
      </source>
    </sources>
    <switches>
      <!--Possible values for switches: Off, Error, Warning, Information, Verbose
						Verbose:      includes Error, Warning, Info, Trace levels
						Information:  includes Error, Warning, Info levels
						Warning:      includes Error, Warning levels
						Error:        includes Error level-->

      <add name="Microsoft.Xrm.Tooling.CrmConnectControl" value="Error"/>
      <add name="Microsoft.Xrm.Tooling.Connector.CrmServiceClient" value="Off"/>
      <add name="CloudSmith.Dynamics365.CrmSvcUtil" value="Information"/>
      <add name="CrmSvcUtil" value="Error"/>
    </switches>
    <sharedListeners>
      <add name="fileListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="CrmSvcUtil.log"/>
    </sharedListeners>
  </system.diagnostics>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Crm.Sdk" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="4.0.0.0-9.0.0.0" newVersion="9.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Xrm.Sdk" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="4.0.0.0-9.0.0.0" newVersion="9.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Xrm.Sdk.Workflow" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="4.0.0.0-9.0.0.0" newVersion="9.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Crm.Sdk.Proxy" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="4.0.0.0-9.0.0.0" newVersion="9.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Xrm.Sdk.Deployment" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="4.0.0.0-9.0.0.0" newVersion="9.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Crm.Workflow" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="4.0.0.0-9.0.0.0" newVersion="9.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Crm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="4.0.0.0-9.0.0.0" newVersion="9.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CrmSvcUtil" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="4.0.0.0-9.0.0.0" newVersion="9.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Clients.ActiveDirectory" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.22.0.0" newVersion="2.22.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
  </startup>
</configuration>