.babelrc
.browserlistrc
.gitignore
.vscode/**
.vscode-test/**
dist/**
gruntfile.js
docs/**
out/test/**
resources/framework/**
resources/powershell/**
resources/templates/**
resources/tools/**
resources/tools/packages/**
src/**
**/tsconfig*.json
**/tslint.json
**/omnisharp.json
**/*.map
**/*.ts
**/*.yml