// Color Classes
@each $color_name, $color in $colors {
  @each $color_type, $color_value in $color {
    @if $color_type == "base" {
      .#{$color_name} {
        background-color: $color_value !important;
      }
      .#{$color_name}-text {
        color: $color_value !important;
      }
    }
    @else if $color_name != "shades" {
      .#{$color_name}.#{$color_type} {
        background-color: $color_value !important;
      }
      .#{$color_name}-text.text-#{$color_type} {
        color: $color_value !important;
      }
    }
  }
}

// Shade classes
@each $color, $color_value in $shades {
  .#{$color} {
    background-color: $color_value !important;
  }
  .#{$color}-text {
    color: $color_value !important;
  }
}

$vscode-all: (
  "base": $vscode,
  "badge": $vscode-badge,
  "button": $vscode-button,
  "checkbox": $vscode-checkbox,
  "dropdown": $vscode-dropdown,
  "icon": $vscode-icon,
  "input": $vscode-input,
  "inputOption": $vscode-inputOption,
  "inputValidation": $vscode-inputValidation,
  "scrollbar": $vscode-scrollbar,
  "scrollbarSlider": $vscode-scrollbarSlider,
  "selection": $vscode-selection,
  "textBlockQuote": $vscode-textBlockQuote,
  "textCodeBlock": $vscode-textCodeBlock,
  "textLink": $vscode-textLink,
  "textPreFormat": $vscode-textPreFormat,
  "textSeparator": $vscode-textSeparator,
  "widget": $vscode-widget
) !default;

// Color Classes
@each $color_name, $color in $vscode-all {
  @each $color_type, $color_value in $color {
    $className: "vscode-";

    @if $color_name != "base" {
      $className: $className + $color_name + "-";
    }

    @if $color_type != "base" { 
      $className: $className + $color_type
    }

    @if $color_type == "background" or str-index($color_type, "Background") != null {
      .#{$className} {
        background-color: $color_value !important;
      }
    }
    @else if $color_type == "border" or str-index($color_type, "Border") != null {
      .#{$className} {
        border-color: $color_value !important;
      }      
    }
    @else if $color_type == "shadow" or str-index($color_type, "Shadow") != null {
      .#{$className} {
        box-shadow: 4px 4px $color_value !important;
      }      
    }
    @else {
      .#{$className} {
        color: $color_value !important;
      }      
    }
  }
}
