$vscode: (
    "contrastActiveBorder": var(--vscode-contrastActiveBorder)
    "contrastBorder": var(--vscode-contrastBorder)
    "focusBorder": var(--vscode-focusBorder)
    "foreground": var(--vscode-foreground)
    "errorForeground": var(--vscode-errorForeground)
    "descriptionForeground": var(--vscode-descriptionForeground)
);

$vscode-badge: (
    "foreground": var(--vscode-badge-foreground)
    "background": var(--vscode-badge-background)
);

$vscode-button: (
    "background": var(--vscode-button-background)
    "foreground": var(--vscode-button-foreground)
    "hoverBackground": var(--vscode-button-hoverBackground)
);

$vscode-checkbox: (
    "background": var(--vscode-checkbox-background)
    "border": var(--vscode-checkbox-border)
    "foreground": var(--vscode-checkbox-foreground)
);

$vscode-dropdown: (
    "background": var(--vscode-dropdown-background)
    "border": var(--vscode-dropdown-border)
    "foreground": var(--vscode-dropdown-foreground)
    "listBackground": var(--vscode-dropdown-listBackground)
);

$vscode-icon: (
    "foreground": var(--vscode-icon-foreground)
);

$vscode-input: (
    "background": var(--vscode-input-background)
    "border": var(--vscode-input-border)
    "foreground": var(--vscode-input-foreground)
    "placeholderForeground": var(--vscode-input-placeholderForeground)
);

$vscode-inputOption: (
    "activeBackground": var(--vscode-inputOption-activeBackground)
    "activeBorder": var(--vscode-inputOption-activeBorder)
);

$vscode-inputValidation: (
    "errorBackground": var(--vscode-inputValidation-errorBackground)
    "errorForeground": var(--vscode-inputValidation-errorForeground)
    "errorBorder": var(--vscode-inputValidation-errorBorder)
    "infoBackground": var(--vscode-inputValidation-infoBackground)
    "infoForeground": var(--vscode-inputValidation-infoForeground)
    "infoBorder": var(--vscode-inputValidation-infoBorder)
    "warningBackground": var(--vscode-inputValidation-warningBackground)
    "warningForeground": var(--vscode-inputValidation-warningForeground)
    "warningBorder": var(--vscode-inputValidation-warningBorder)
);

$vscode-scrollbar: (
    "shadow": var(--vscode-scrollbar-shadow)
);

$vscode-scrollbarSlider: (
    "activeBackground": var(--vscode-scrollbarSlider-activeBackground)
    "background": var(--vscode-scrollbarSlider-background)
    "hoverBackground": var(--vscode-scrollbarSlider-hoverBackground)
);

$vscode-selection: (
    "background": var(--vscode-selection-background)
);

$vscode-textBlockQuote: (
    "background": var(--vscode-textBlockQuote-background)
    "border": var(--vscode-textBlockQuote-border)
);

$vscode-textCodeBlock: (
    "background": var(--vscode-textCodeBlock-background)
);

$vscode-textLink: (
    "activeForeground": var(--vscode-textLink-activeForeground)
    "foreground": var(--vscode-textLink-foreground)
);

$vscode-textPreFormat: (
    "foreground": var(--vscode-textPreFormat-foreground)
);

$vscode-textSeparator: (
    "foreground": var(--vscode-textSeparator-foreground)
);

$vscode-widget: (
    "shadow": var(--vscode-widget-shadow)
);

$vscode-newItem: (
);
