body {
    font-size: 1em;
}

h2, h3, h4, h5, h6 {
   text-decoration: underline;
}

fieldset {
    margin: 0 0.7em 0.7em 0;
}

legend {
    padding: 5px 10px;
    font-weight: bold;
    font-size: 1.1em;
}

table {
    margin: 0 auto;
    width: 95%;
    border: 1px solid var(--vscode-dropdown-border);
}

table tr:nth-child(even) {
    background: var(--vscode-input-background);
    color: var(--vscode-input-foreground);
}

.container {
    margin: 1em 1.5em;
    padding: 0;
    box-sizing: border-box;
}

.tab {
    border-bottom: 1px solid var(--vscode-dropdown-border);
    display:flex;
    padding:0;
}

.tab__item {
    list-style: none;
    cursor: pointer;
    font-size: 13px;
    padding: 7px 8px;
    color: var(--vscode-foreground);
    border-bottom: 1px solid transparent;
    margin: 0 0 -1px 0;
}

.tab__item:hover {
    color: var(--vscode-panelTitle-activeForeground);
}

.tab__item--active {
    color: var(--vscode-panelTitle-activeForeground);
    border-bottom-color: var(--vscode-panelTitle-activeForeground);
}

.tab__content,
.field-container {
    animation: fadeEffect 1s; /* Fading effect takes 1 second */
}
  
/* Go from zero to full opacity */
@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

.grid--two-left-panel {
    display: grid;
    grid-template-columns: 25% 10% auto;
}

.grid--left-panel {
    display: grid;
    grid-template-columns: 30% auto;
}

.grid--left-panel-large {
    display: grid;
    grid-template-columns: 30% 30% auto;
}

.grid--right-panel {
    display: grid;
    grid-template-columns: auto 30%;
}

.button--panel {
    position: relative;
    height: 100%;
}

.button--panel button {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.field {
    padding: 0.5em 0;
}

.field--buttons {
    padding: 0.5em 0 !important;
}

.field--buttons button,
.field--buttons input[type="submit"] {
    margin-right: 10px;
}

.field--checkbox {
    display: flex;
    justify-content: flex-end;
    flex-direction: row-reverse;
    align-items: center;
}

.field__label {
    display: block;
    margin: 2px 0;
    font-weight: bold;
    cursor: pointer;
}

.field--checkbox .field__label {
    margin: 2px 14px 2px 4px;
}

.field__input {
    background: var(--vscode-input-background);
    border: 1px solid var(--vscode-dropdown-border);
    color: var(--vscode-input-foreground);
    padding: 4px;
    margin: 2px 0;
}

.field__input:focus {
    border-color: var(--vscode-focusBorder);
    outline: 0;
}

.field__input--wide {
    width: 300px;
}

.button {
    width: auto;
    padding: 8px 14px;
    border: 0;
    display: inline-block;
    cursor: pointer;
}

.button:hover {
    background-color: var(--vscode-button-hoverBackground);
}

.button--danger {
    color: var(--vscode-button-foreground);
    background-color: var(--vscode-inputValidation-errorBackground);
    border: 1px solid var(--vscode-contrastBorder);
}

.button--danger:hover {
    background-color: var(--vscode-inputValidation-errorBorder);
}

.button--primary {
    color: var(--vscode-button-foreground);
    background-color: var(--vscode-button-background);
    border: 1px solid var(--vscode-contrastBorder);
}

.panel_error {
    margin: 0 7px 10px 5px;
    padding: 0 10px 10px 10px;
    border-left-width: 5px;
    border-left-style: solid;
    background: var(--vscode-textBlockQuote-background);
    border-color: var(--vscode-inputValidation-errorBorder);
}

.panel__text{
    line-height: 1.5em;
}

.branding {
    border: none;
    border-width: 0;
    float: right;
}

.mb-10 {
    margin-bottom: 10px;
}